* {
    margin-left: 5%;
    margin-right: 5%;
}


img {
    width: 300px;
    height: 300px;
}



header {

    display: flex;
    /* 1. Transforma o <header> em um container flexível. */
    flex-direction: column;
    /* 2. Organiza os itens (imagem, h1, h2) em uma coluna (um embaixo do outro). */
    align-items: center
        /* 3. Centraliza os itens horizontalmente (no meio da largura do header). */
}

h1 {
    color: #00468c;
}

h2 {
    color: #e3b482;
    font-weight: 900;
    font-size: 30px;
}

p {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align-last: center;
}

.paragrafo {
    padding: 10px;
    background-color: #00468c;
    color: white;
    border-radius:10px;

}

a{
    color:white;
    text-decoration: none;
    padding:10px;
    background:#00468c;
    border-radius:10px;
}


div{
    display:flex;
    justify-content: space-between;
}

a:hover{
    color: #e3b482;
}
