@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --cor-principal:#6E859F;
    --cor-secundaria:#0d6efd;;
    --cor-destaque:#800000;

}



body{

    font-family: 'chakra Petch',sans-serif;
    color:var(--cor-principal);
    font-weight: 500;
}

h1,h2,h5{
    color:var(--cor-secundaria);
    font-weight: 700;
}

.lead{

    color:var(--cor-principal);
    font-weight: 700;
}

.atuacao{
    text-align: justify;
}
footer a{

    color:var(--cor-principal);
}

footer a:hover{
    color:var(--cor-destaque);
}
